[submodule "javascript-frameworks/boo-angular"]
	path = javascript-frameworks/boo-angular
	url = https://github.com/BOO1980/boo-angular.git

[submodule "javascript-libraries/boo-pixiJS"]
	path = javascript-libraries/boo-pixiJS
	url = https://github.com/BOO1980/boo-pixiJS.git
[submodule "javascript-libraries/boo-react"]
	path = javascript-libraries/boo-react
	url = https://github.com/BOO1980/boo-react.git
[submodule "javascript-frameworks/boo-vue.js"]
	path = javascript-frameworks/boo-vue.js
	url = https://github.com/BOO1980/boo-vue.js.git
[submodule "javascript-frameworks/boo-vanilla.js"]
	path = javascript-frameworks/boo-vanilla.js
	url = https://github.com/BOO1980/boo-vanilla.js.git
[submodule "javascript-frameworks/boo-nuxt.js"]
	path = javascript-frameworks/boo-nuxt.js
	url = https://github.com/BOO1980/boo-nuxt.js.git